@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --darkest: #2E3440;
    --dark: #3B4252;
    --light: #434C5E;
    --lightest: #4C566A;
}

/*GENERAL*/

body {
    margin: unset;
    background-color: var(--darkest);

    color: #fff;
    font-family: "Roboto", sans-serif;
}

.boldTxt {
    font-weight: bold;
}

/*CONTENT BOXES*/

[id="bgContent"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--dark);
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
}

/*TOPBAR*/

.topbar {
    height: 50px;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: left;
    box-shadow: #2E3440 0 5px 5px;
}

.topbarButton {
    text-decoration: none;
    color: unset;
    padding: 7px;
    margin: 5px 5px 0 5px;
    border-radius: 5px 5px 0 0;
    display: flex;
    background-color: var(--light);
    align-items: center;
}

.topbarButtonTxt {
    margin-left: 5px;
}

/*FOOTER*/

.footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: #2E3440 0 -5px 5px;
}
