/*CONTAINER*/

.projectContainer {
    padding-top: unset;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    clip-path: inset(0px 0px 0px 0px);
}

.project {
    opacity: 0;
    animation-name: slideIn;
    animation-duration: 0.25s;
    text-decoration: unset;
    color: unset;
    background-color: var(--lightest);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid transparent;
    margin: 10px 0 0 0;
    align-items: center;
    animation-fill-mode: forwards;
}

.project:hover {
    border: 2px solid #FF69B4;
}

/*CONTENT*/

.pageTitle {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0 0 0;
}

.projectIcon {
    font-size: 24px;
    margin-right: 10px;
}

.projectTxt {
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
}
