/*ABOUTME*/

.aboutMeTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.userImg {
    border-radius: 15px;
    width: 250px;
}

.name {
    font-size: 45px;
}

.description {
    font-size: 20px;
}

/*WHOAMI*/

.whoAmI {
    flex-direction: column;
}

.whoAmICursive {
    font-style: italic;
    font-size: 45px;
}

.whoAmICursive::after {
    content: " - Said no-one, ever";
    color: var(--lightest);
    font-size: 20px;
}

.whoAmIContainer {
    display: flex;
    flex-wrap: wrap;
}

.whoAmISmallContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    margin: 15px 15px 0 0;
    background-color: var(--light);
}

.whoAmISmallContainer .material-icons {
    padding-right: 5px;
}