/*CONTAINER*/

.projectContainer {
    padding-top: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    text-decoration: unset;
    color: unset;
    background-color: var(--lightest);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 450px;
    padding: 15px;
    border-radius: 15px;
    transition: all 0.25s;
    border: 2px solid transparent;
    margin: 10px 10px 0 0;
}

.project:hover {
    transform: scale(1.01);
    border: 2px solid #FF69B4;
}

/*CONTENT*/

.projectImg {
    width: 450px;
    border-radius: 15px;
}

.projectTxt {
    padding-top: 15px;
    font-size: 35px;
    text-align: center;
}

.projectDsc {
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
}